body {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  display: flex;
}

.menu li a {
  color: whitesmoke;
  /* font-size: 5vw; */
}


a:link {
  text-decoration: none;
}

hr {
  width: 80%
 
}
.menu {
  width: 100%;
}

.menu .menu-left,
.menu .menu-right {
  display: inline-flex;
  padding: 60px 0px;
  list-style: none;
}

.menu-left li,
.menu-right li {
  margin-left: 20px;
}

.menu {
  background-color: rgb(125, 114, 114);
}

.text1,
.text2,
img,
.content1,
.content2,
.content3 {
  padding: 20px 30px;
  /* font-size: 5vw; */
}

img {
  width: 100%;
}



@media only screen and (min-width: 600px) {
  body {
    /* For tablets: */
   
    padding: 0px 25px;
  }

  .menu-right {
    margin-left: 350px;
  }


  .menu .menu-left,
  .menu .menu-right {
    padding: 50px 0px 30px;
  }

  hr {
    width: 90%;
  }

  .row {
    /* column-count: 2; */
    grid-template-columns: 30% 30% 30%;
  }

  img {
    padding: 30px 5px 30px 15px;
  }

  .text1,
  .text2,
  .content1,
  .content2,
  .content3 {
    padding: 20px 17px;
  }






}

@media only screen and (min-width: 970px) {
  body {
    /* For desktop: */
   

  }
  body {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    /* display: flex; */
    /* display: block; */
}




.menu {
  background-color: white;
  margin: 0px 40px;
  }

.menu li a {
color: rgb(56, 25, 167);
}

.menu-right {
margin-left: 670px;
}

.row2 img {
  margin-left: 20px;
}

.row3 img{
  margin-left: 40px;
}

.text1 {
  color: whitesmoke;
  font-size: 30px;
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/ltp/img/lodging.png?fbclid=IwAR0y7lIREtvEf098YRow4ALd-sy5aLkvYuSRkzsPL34ocDMrrlS9pKPVbgM);
  height: 460px;
  }
  
h1 p {
  position: absolute;
  bottom: 100px;


}

hr {
  border-width: 0px;
}

.text2 {
  margin: 0px 40px;
  padding-bottom: 0px;
}

.row {
  grid-template-columns: 30% 30% 30%;
  display: grid;
  margin: 0px 40px;
}

img {
  padding-bottom: 0px;
}

.content{
  grid-template-columns: 30% 30% 30%;
  display: grid;
  margin: 0px 40px;
}

.content2 {
  margin-left: 20px;
}
.content3 {
  margin-left: 40px;
}




}


